.topnav {
    position: absolute;
    width: 1512px;
    height: 75px;
    left: 0px;
    top: 0px;
    
    background: #D19C9D;
  }

  .topnav a {
    position: absolute;
    width: 150px;
    height: 75px;
    left: 691px;
    top: 14px;

    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;

    color: #000000;
  }

  .bg {
    position: absolute;
    width: 1512px;
    height: 907px;
    left: 0px;
    top: 75px;
    
    background: #F5E1E3;
  }