<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
<div class="topnav">
    <form action="/"><a><button class="redirect" id="Home"></button></a></form>
    <form action="/Home"><a><button class="redirect" >Home</button></a></form>
    <form action="/Find Food"><a><button class="redirect" >Find Food</button></a></form>
    <form action="/Calories"><a><button class="redirect" >Calories</button></a></form>
   
<title>Home</title>
<div class="text">
  <h1>Eco Future</h1>
</div>
<body>
    <divc class ='bg'>

    </div>
    <div class="overlay"></div>
</body>