<!DOCTYPE html>
<html>
  <link href="style.css" rel="stylesheet" type="text/css" />
  
<header>
 <div class="topnav">
  <a href = #home>Home</a>
  <a href="#food">Find Food</a>
  <a href="#calories">Calories</a>
  <a href="#account">My Account</a>
 </div>
  <h1>Nibble</h1>
   </header>
  <br>
<body style="background-color:F5E1E3">
  
  <main style="background-color:#D19C9D">
    <section class="Calories">
           
            <form class="form">
              <fieldset>
                <div class="fields-container">
                   <h1>Calorie Tracker</h1>
            <p>Input the amount of calories consumed</p>
                  <br>
                  <div class="fields">
                    <label>Breakfast:</label>
                    <input class="input-text" type="text"/>
                  </div>
                  <br>
      
                  <div class="fields">
                    <label>Lunch:</label>
                    <input class="input-text" type="text"/>
                  </div>
                  <br>
      
                  <div class="fields">
                    <label>Dinner:</label>
                    <input class="input-text" type="text"/>
                  </div>
                  <br>
                  <div class="fields">
                    <label>Snacks/Other:</label>
                    <input class="input-text" type="text" />
                </div>
                  <br>
                <div class="align-right flex">
                  <button class="button w-100" type="submit">Calculate</button>
                </div>
              </fieldset>
            </form>
          </section> 
  </main>
  <br>
<footer>
  <p1>©Nibble 2022. All Rights Reserved.</p1>
</footer>
  
</body>
  
</html>
