<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
        <div class="topnav">
            <form action="/"><a><button class="redirect" id="Home">Nibble</button></a></form>
            <form action="/"><a><button class="redirect">Home</button></a></form>
            <form action="/restriction"><a><button class="redirect">Find Food</button></a></form>
            <form action="/Calories"><a><button class="redirect">Calories</button></a></form>
            <form action="/register"><a><button class="redirect" id="signup">Signup</button></a></form>
            <form action="/Sign-in"><a><button class="redirect" id="signup">Login</button></a></form>
    </head>

    <div class="reviews">
        <div class="resto"></div>
    </div>
</html>