<!DOCTYPE html>
<html>
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  <div class="topnav">
      <form action="/"><a><button class="redirect" id="Home">Nibble</button></a></form>
      <form action="/"><a><button class="redirect">Home</button></a></form>
      <form action="/restriction"><a><button class="redirect">Find Food</button></a></form>
      <form action="/Calories"><a><button class="redirect">Calories</button></a></form>
      <form action="/register"><a><button class="redirect" id="signup">Signup</button></a></form>
      <form action="/Sign-in"><a><button class="redirect" id="signup">Login</button></a></form>
   </header>
  <br>
<body style="background-color:F5E1E3">
  
  <main style="background-color:#D19C9D">
    <section class="dietary restriction">
           
            <form class="form" action="/restriction" method="post">
              <fieldset>
                <div class="fields-container">
                   <h1>Dietary Restriction</h1>
            <p>Click which one suits you.</p>
                  <br>
                  <button name="submit_button" method='post'type="submit" value="Alcohol-Free">Alcohol-Free</button>
                  
                  <button name="submit_button" method='post'type="submit", value="Kosher">Kosher</button>
                  <br>
                  <br>
                  <button name="submit_button" method='post' type="submit" value="Halal">Halal</button>
                  <button name="submit_button" type="submit" method="post" value="Vegatarian">Vegaterian</button>
                  <br>
                  <br>
                  <button name="submit_button" method='post'type="submit", value="Gluten Free">Gluten Free</button>
                  <button name="submit_button" type="submit" method='post' value="Vegan" >Vegan</button>
                  <br>
                  <br>

                  <div class="align-center flex">
                  <button class="button w-100" type="submit">Next</button>
                </div>
              </fieldset>
            </form>
          </section> 
  </main>
  <br>
<footer>
  <p1>©Nibble 2022. All Rights Reserved.</p1>
</footer>
  
</body>
  
</html>
