<!DOCTYPE html>
<html>
  <link href="design.css" rel="stylesheet" type="text/css" />
  
<header>
 <div class="topnav">
  <a href = #home>Home</a>
  <a href="#food">Find Food</a>
  <a href="#calories">Calories</a>
  <a href="#account">My Account</a>
 </div>
  <h1>Nibble</h1>
   </header>
  <br>
<body style="background-color:F5E1E3">
  
  <main style="background-color:#D19C9D">
    <section class="dietary restriction">
           
            <form class="form" action="/restriction" method="post">
              <fieldset>
                <div class="fields-container">
                   <h1>Dietary Restriction</h1>
            <p>Click which one suits you.</p>
                  <br>
                  <button name="submit_button" method='post'type="submit" value="Alcohol-Free">Alcohol-Free</button>
                  
                  <button name="submit_button" method='post'type="submit", value="Kosher">Kosher</button>
                  <br>
                  <br>
                  <button name="submit_button" method='post' type="submit" value="Halal">Halal</button>
                  <button name="submit_button" type="submit" method="post" value="Vegatarian">Vegaterian</button>
                  <br>
                  <br>
                  <button name="submit_button" method='post'type="submit", value="Gluten Free">Gluten Free</button>
                  <button name="submit_button" type="submit" method='post' value="Vegan" >Vegan</button>
                  <br>
                  <br>

                  <div class="align-center flex">
                  <button class="button w-100" type="submit">Next</button>
                </div>
              </fieldset>
            </form>
          </section> 
  </main>
  <br>
<footer>
  <p1>©Nibble 2022. All Rights Reserved.</p1>
</footer>
  
</body>
  
</html>
