<head>
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
  <div class="topnav">
      <form action="/"><a><button class="redirect" id="Home">Nibble</button></a></form>
      <form action="/Home"><a><button class="redirect" >Home</button></a></form>
      <form action="/Find Food"><a><button class="redirect" >Find Food</button></a></form>
      <form action="/Calories"><a><button class="redirect" >Calories</button></a></form>
      <form action="/register"><a><button class="redirect" id="signup" >Signup</button></a></form>
    </head>
    <body>

    <div class="bg"></div>
  
    </body>
  </html>